In [1]:
import pandas as pd 

df = pd.DataFrame ({
    'flooded':[1.45, 1.19 , 1.05 , 1.07], 
    'Control':[1.70, 2.04 , 1.49 , 1.91]

})

df

   flooded  Control
0     1.45     1.70
1     1.19     2.04
2     1.05     1.49
3     1.07     1.91

In [3]:
First_list = [1.45, 1.19 , 1.05 , 1.07]
Second_list = [1.70, 2.04 , 1.49 , 1.91]
dictionary = {"flooded":First_list, "control":Second_list}

df = pd.DataFrame(dictionary)

df

# This is the same as before, but it tells us how dictionary are 
# practically used in libaries

   flooded  control
0     1.45     1.70
1     1.19     2.04
2     1.05     1.49
3     1.07     1.91

In [11]:
df['flooded']

0    1.45
1    1.19
2    1.05
3    1.07
Name: flooded, dtype: float64

In [12]:
df.mean()

flooded    1.190
control    1.785
dtype: float64

In [13]:
s = pd.Series([1.45 , 1.19 , 1.05 , 1.07])
s

0    1.45
1    1.19
2    1.05
3    1.07
dtype: float64

In [14]:
s.mean()

np.float64(1.19)

In [15]:
import pandas as pd 

df = pd.DataFrame ({
    'flooded':[1.45, 1.19 , 1.05 , 1.07], 
    'Control':[1.70, 2.04 , 1.49 , 1.91]

})

df.to_csv('Birch_tree.csv' , index = False)

In [17]:
df_reloaded = pd.read_csv('Birch_tree.csv')
df_reloaded

   flooded  Control
0     1.45     1.70
1     1.19     2.04
2     1.05     1.49
3     1.07     1.91

In [18]:
df.mean()

flooded    1.190
Control    1.785
dtype: float64

In [19]:
df['flooded'] - df['flooded'].mean()

0    0.26
1    0.00
2   -0.14
3   -0.12
Name: flooded, dtype: float64

In [20]:
df['deviation'] = df['flooded'] - df['flooded'].mean()
df

   flooded  Control  deviation
0     1.45     1.70       0.26
1     1.19     2.04       0.00
2     1.05     1.49      -0.14
3     1.07     1.91      -0.12